**Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.**

In [28]:
s=pd.Series([4, 8, 15, 16, 23,42])
print(type(s))
print(s)

<class 'pandas.core.series.Series'>
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

**Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.**

In [29]:
s=pd.Series([range(10)])
print(type(s))
print(s)

<class 'pandas.core.series.Series'>
0    (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
dtype: object

In [15]:
print("Q3. Create a Pandas DataFrame that contains the following data:\n")
print("Name".rjust(20),"Age".rjust(20),"Gender".rjust(20))
print("Alice".rjust(20),"25".rjust(20),"Female".rjust(20))
print("Bob".rjust(20),"30".rjust(20),"Male".rjust(20))
print("Claire".rjust(20),"27".rjust(20),"Female".rjust(20),'\n')
print("Then, print the DataFrame.")

Q3. Create a Pandas DataFrame that contains the following data:

                Name                  Age               Gender
               Alice                   25               Female
                 Bob                   30                 Male
              Claire                   27               Female

Then, print the DataFrame.

In [30]:
import pandas as pd
data={'Name':['Alice','Bob','Claire'],
     'Age':[25,30,27],
     'Gender':['Female','Male','Female']}
df=pd.DataFrame(data=data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

**Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.**

In Pandas, a DataFrame is a two-dimensional table-like data structure that is used to represent and manipulate data in a tabular format. It consists of rows and columns, where each column can have a different data type

In pandas Series is a one-dimensional labeled array that can hold data of any type, including integer, float, string, and Boolean values. A Series is similar to a column in a DataFrame, but it can also be used independently of a DataFrame.

Example:

In [39]:
import pandas as pd

# create a DataFrame
data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, 30, 35, 40],
        'gender': ['F', 'M', 'M', 'M']}
df = pd.DataFrame(data)

# print the DataFrame
print(df)
print('\nType of data:',type(df))

      name  age gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   35      M
3    David   40      M

Type of data: <class 'pandas.core.frame.DataFrame'>

In [40]:
# access a column in the DataFrame as a Series
ages = df['age']
print(ages)
print('\nType of data:',type(ages))

0    25
1    30
2    35
3    40
Name: age, dtype: int64

Type of data: <class 'pandas.core.series.Series'>

**Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?**

There are many functions and methods in Pandas that can be used to manipulate data in a DataFrame. Here are some of the most common functions and methods:

    head() and tail(): These methods can be used to view the top and bottom rows of a DataFrame, respectively. They are useful for quickly inspecting the structure and contents of a DataFrame.

    describe(): This method generates descriptive statistics for each column of a DataFrame, including the count, mean, standard deviation, minimum, maximum, and quartile values. It provides a quick summary of the data in a DataFrame.

    info(): This method prints a concise summary of a DataFrame, including the number of non-null values and the data type of each column. It is useful for checking the completeness and correctness of a DataFrame.

    loc[] and iloc[]: These methods are used to index and select specific rows and columns of a DataFrame. loc[] is used for label-based indexing, while iloc[] is used for integer-based indexing.

    groupby(): This method is used to group rows of a DataFrame based on one or more columns, and to perform aggregate functions on each group. It is useful for summarizing and analyzing data by different categories.

    apply(): This method applies a function to each element or column of a DataFrame. It is useful for performing custom data transformations and cleaning operations.

    merge(): This function is used to join two or more DataFrames based on a common column or index. It is useful for combining data from different sources and for performing complex data analyses.

In [81]:
import pandas as pd

data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 32, 45, 28],
    'salary': [50000, 60000, 75000, 40000]
    }

df = pd.DataFrame(data)
print(df)

      name  age  salary
0    Alice   25   50000
1      Bob   32   60000
2  Charlie   45   75000
3    David   28   40000

In [95]:
def calculate_new_salary(s):
    return s['salary'] + s['age']*2

In [96]:
df[['age','salary']]

   age  salary
0   25   50000
1   32   60000
2   45   75000
3   28   40000

In [97]:
df['new_salary'] = df[['age','salary']].apply(calculate_new_salary,axis=1)
print(df)

      name  age  salary  new_salary
0    Alice   25   50000       50050
1      Bob   32   60000       60064
2  Charlie   45   75000       75090
3    David   28   40000       40056

**Q6. Which of the following is mutable in nature Series, DataFrame, Panel?**

In Pandas, a Panel is a three-dimensional data structure that is designed to handle data with three or more dimensions. It can be thought of as a container for multiple DataFrames, where each DataFrame represents a two-dimensional slice of data within the Panel.

In Pandas, both Series and DataFrame are mutable in nature, while Panel is considered deprecated since version 0.25.0 and has been replaced by the more flexible MultiIndex and other data structures.

**Q7. Create a DataFrame using multiple Series. Explain with an example.**

In [77]:
name=pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
age=pd.Series([25, 32, 45, 28])
salary=pd.Series([50000, 60000, 75000, 40000])

data={'name':name,'age':age,'salary':salary}

In [79]:
df=pd.DataFrame(data=data)
print(df)

      name  age  salary
0    Alice   25   50000
1      Bob   32   60000
2  Charlie   45   75000
3    David   28   40000